[submodule "vim-surround"]
	path = vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "jslint"]
	path = jslint
	url = http://github.com/hallettj/jslint.vim.git
[submodule "vim-rails"]
	path = vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "vim-unimpaired"]
	path = vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim-text-obj-user"]
	path = vim-text-obj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "vim-textobj-rubyblock"]
	path = vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "vim-javascript"]
	path = vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim-repeat"]
	path = vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim-gundo"]
	path = vim-gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim-tabular"]
	path = vim-tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim-coffee-script"]
	path = vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim-html5"]
	path = vim-html5
	url = https://github.com/othree/html5.vim.git
[submodule "vim-less"]
	path = vim-less
	url = https://github.com/groenewege/vim-less
[submodule "vim-json"]
	path = vim-json
	url = https://github.com/vim-scripts/JSON.vim.git
[submodule "module-surround"]
	path = module-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "module-jslint"]
	path = module-jslint
	url = http://github.com/hallettj/jslint.vim.git
[submodule "module-rails"]
	path = module-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "module-unimpaired"]
	path = module-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "module-textobj-user"]
	path = module-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "module-textobj-rubyblock"]
	path = module-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "module-javascript"]
	path = module-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "module-repeat"]
	path = module-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "module-gundo"]
	path = module-gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "module-tablular"]
	path = module-tablular
	url = https://github.com/godlygeek/tabular.git
[submodule "module-solarized"]
	path = module-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "module-coffee-script"]
	path = module-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "module-html5"]
	path = module-html5
	url = https://github.com/othree/html5.vim.git
[submodule "module-less"]
	path = module-less
	url = https://github.com/groenewege/vim-less
[submodule "module-JSON"]
	path = module-JSON
	url = https://github.com/vim-scripts/JSON.vim.git
[submodule "module-tslime"]
	path = module-tslime
	url = https://github.com/xaviershay/tslime.vim.git
